@page
@{
}
<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Nombre</th>
        <th scope="col">Capacidad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Cartagena</td>
            <td>Nombre 1</td>
            <td>4 Personas</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Cartagena</td>
            <td>Nombre 2</td>
            <td>4 Personas</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Cartagena</td>
            <td>Nombre 3</td>
            <td>5 Personas</td>
        </tr>
    </tbody>
</table>
